<%= turbo_stream.append "announcements" do %>
  <%= render partial: "announcements/announcement_card", collection: @announcements, as: :announcement %>
<% end %>

<%= turbo_stream.update "next_link" do %>
  <% if @pagy.next.present? %>
    <div id="next_link">
        <%= button_to "Load More", pagy_url_for(@pagy, @pagy.next), class: "next_button" %>
      </div>
  <% end %>
<% end %>

