<%= turbo_frame_tag dom_id(@comment, :edit) do %>
  <%= form_with(model: [@announcement, @comment], html: { class: 'add-comment' }) do |form| %>
    <div>
      <%= form.text_area :content, id: "comment_box" %>
    </div>
    <div>
      <%= form.submit "Update Comment", class: "add-comment-button" %>
    </div>
  <% end %>
<% end %>
