<p style="color: green"><%= notice %></p>

<h1>Event logs</h1>

<div id="event_logs">
  <% @event_logs.each do |event_log| %>
    <%= render event_log %>
    <p>
      <%= link_to "Show this event log", event_log %>
    </p>
  <% end %>
</div>

<%= link_to "New event log", new_event_log_path %>
