<p style="color: green"><%= notice %></p>

<<<<<<< HEAD
<h1>Events</h1>
=======
<h1>Events List</h1>
>>>>>>> 863e298e03e02d0c2723b380772f9571d4e2a37c

<div id="Events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>
