<h1>Help</h1>
<br>
<h2>Member Training</h2>
<br>
<h3>Getting Started<h3>
<br>
<div>
Click "Login" in the top right hand corner of the app to log in with your TAMU gmail account.
<div>
<h3>Viewing and signing up for volunteer events</h3>
<br>
<div>
Click "Events" in the top navigation bar. A list of events should be displayed. You can view details about a specific event by clicking on its Show button".

Once you have navigated to a specific event's page, if the event is available to sign up to volunteer for, you can begin the sign up process by 
clicking the "Sign Up" button.

Once you have signed up for an event, an organization administrator will have to manually confirm your participation. If you are confirmed for an event, 
you will receive an email in the Gmail inbox of the TAMU google account that your signed up with.
<div>

