<h1>Help</h1>
<br>

<h2>Getting Started</h2>
<div>
Click "Login" in the top right hand corner of the app to register and log in with your TAMU gmail account.
<div>
<br>


<h2>Profile Page</h2>
<div>
Click "Profile" in the top right hand corner of the app to view your account.
<br>
From here, you can log out, view a list of events you're signed up for and their respective confirmation status, and edit your basic information.
<div>
<br>

<h2>Viewing and signing up for volunteer events</h2>
<div>
Click "Events" in the top navigation bar. A list of events will be displayed. You can view details about a specific event by clicking on its Show button.
<br>
Once you have navigated to a specific event's page, if the event is available to sign up to volunteer for, you can begin the sign up process by 
clicking the "Sign Up" button.
<br>
Once you have signed up for an event, an organization administrator will have to manually confirm your participation. If you are confirmed for an event, 
you will receive an email in the Gmail inbox of the TAMU google account that you're signed up with.
<div>
<br>

<h2>Viewing and commenting on announcements</h2>
<div>
Click "Announcements" in the top navigation bar. A list of announcements will be displayed. 
You can click on each announcement's show button to view comments, and post your own.
<br>
When posting a comment, there is a checkbox that allows you to post your comment anonymously. Note that this does not hide your name for administrators.
<br>
You can also edit or delete your comment using the buttons below it.
</div>
<br>

<h2>Other Pages</h2>
<div>
The "About" page gives information about Breaking Barriers.
</div>
<br>

<h2>Feedback</h2>
If you have any concerns with the app or requests for revision,
please fill out the survey <a href="https://docs.google.com/forms/d/e/1FAIpQLScohpYeKymCv3VpsOHm_S1FrbmqapJo5MhymGhnKP_dgHWoAw/viewform?usp=sharing">here</a> 
and we'll get back to you within one business day
