<h1>Home</h1>
<% if user_signed_in? %>
    <p>Logged in as: <%= current_user.email %></p>
    <%= link_to 'Edit Profile', edit_user_registration_path %>
<% else %>
    <p>You are not logged in.</p>
<% end %>
