<%= stylesheet_link_tag "home" %>
<body data-page="home">
    <div class="home-container">
        <div class="cover-container"> 
            <%= image_tag("home-cover.jpg", alt: "medical center", class: "cover") %>
            <div style="height: 500px">
        </div>
    </div>
</body>