<h1>Login</h1>

<%= button_to "Sign in with Google", omniauth_authorize_path(resource_name, :google_oauth2), data: { turbo: false } %>

<%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
     