.e-partial {
    margin: 25px 25px 25px 25px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.left-section { 
    width: 40%; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-section { 
    width: 55%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.e-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-right: 50px;
    padding: 15px 15px 15px 15px;
    float: left; 
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(72, 114, 174);
}

.e-left h1 {
    font-size: 2em;
    color: rgb(72, 114, 174);
}


.e-right {
    width: 30%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.right-section {
    padding: 15px 15px 15px 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(72, 114, 174)
}

.right-section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.e-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
}

.e-row img {
    height: 25px;
    width: 20px;
    margin-right: 10px;
}

.flier-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 10% 0 10%;
}

.delete-flier {
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: #E74C3C;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
}

.delete-flier:hover {
    background-color:  #B03A2E ;
}