.e-partial {
    margin: 25px 25px 25px 25px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: normal;
    display: flex;
    flex-direction: row;
}


.e-left {
    width: 70%;
    margin-right: 50px;
    padding: 10px 10px 10px 10px;
    float: left; 
    background-color: rgb(72, 114, 174);
}

.e-left h1 {
    font-size: 3em;
}

.e-left div { 
    margin-bottom: 40px;
} 


.e-right {
    width: 30%;
    float: right;
    display: grid;
}

.right-section {
    margin: 20px 0 20px 0;
    padding: 10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

.e-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
}

.e-row img {
    height: 25px;
    width: 20px;
    margin-right: 10px;
}