.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.profile-form {
    background-color: white;
    border-radius: 3px;
    padding: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    min-width: 35vw;
    margin-bottom: 60px;
}

.profile-form label {
    font-size: small;
    font-weight: normal;
}

.profile-field label {
    font-size: small !important;
    font-weight: bold !important;
    color: grey;
    margin-bottom: 8px !important;
}

.profile-field input{
    background-color: white;
    border: 1px solid black !important;
    border-radius: 3px;
}

.profile-field select {
    background-color: white;
    border: 1px solid black !important;
    border-radius: 3px;
}

.horizontal-line {
    border: none;
    height: 1px;
    background-color: grey;
    width: calc(100% + 40px);
    margin: 10px -20px;
    margin-bottom: 40px;
}
.profile-field {
    margin-bottom: 20px;
}
.current-user-display img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}
.current-user-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.current-user-display p {
    margin-left: 10px;
    font-size: larger;
    font-weight: bold;
}

.profile-nav .button_to button {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    font-size: larger;
    background-color: #CF2E2E;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
}


.profile-form label {
    font-size: larger;
    font-weight: bold;
}


.profile-form select {
    border: none; 
    height: 30px;
    font-size: larger
}



.profile-field{
    display: flex;
    flex-direction: column;
}

.profile-update-btn {
    background: #4872AE !important;
    padding: 5px 10px !important;
    border-radius: 3px; 
    color: white;

}

.profile-submit-section {
    display: flex;
    flex-direction: row;
}

.temp-selection {
    margin-left: 20px;
}

.profile-events-table img {
    width: 30px;
    height: 30px;

}

.events-table-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;

}

.profile-events-table h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
}

.profile-events-table thead th {
    text-align: left;
    padding: 10px 0px;
    font-size: 20px;
}

.profile-events-table tbody td {
    padding: 10px 0px;
    font-size: 18px;
}

.table-approval {
    display: flex;
    justify-content: center;
}

.profile-events-table {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 3px;
    padding: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    min-width: 45vw;
    margin-bottom: 60px;
}

.no-records {
    text-align: center;
}