<h1>Admin Help</h1>
<br>
<h2>User and event management</h2>
<div>
You can edit an event or user's details by clicking "Events" or "Users" in the admin dashboard, selecting the event or user to update info for, 
clicking the "edit" button, and then submitting the form to update their details.
<br>
Note that this allows you to grant admin access to other users.
</div>
<br>

<h2>Confirming user participation</h2>
<div>
For final confirmation of members who have signed up for a volunteer event, you can simply navigate to the volunteer event in question under "Events"
click the checkbox next to the name of the user you'd like to confirm, and then click confirm to confirm the changes to participation for the event.
<br>
This will also send the user an email. Until an admin does this, users will not be registered for the event!
</div>
<br>

<h2>Annoucement/Comment Management</h2>
<div>
The Announcements page can be found by clicking on the button in the bar at the top. As an administrator, you can post, edit, and delete annoucements or comments.
<br>
On the list of announcements, click "Post Announcement". This will open up a page that allows you to write a post in rich text, and attach images or link to other websites.
<br>
On the page of any given announcement, you can use the relevant buttons to edit or delete the announcement as a whole, or delete comments from other users.
</div>
<br>

<h2>Event Logs</h2>
<div>
For debugging purposes, an admin can see a list of all "Event Logs" from the admin dashboard. An Event Log is just a marker that a user has signed up for an event.
<br>
This page can be sorted to show things such as all events a user has signed up for, all users who have signed up for an event, or all confirmed users for an event.
</div>
<br>

<h2>User Log Data</h2>
<div>
From the admin dashboard, user participation data can be downloaded as a CSV file.
<br>
This file contains the name, email, and total volunteer hours of all registered users.
</div>
<br>

<h2>Troubleshooting Heroku</h2>
<div>
Q- I got an email from Heroku saying that the app is down for maintenance. What should I do?
<br>
A- This is unavoidable and will result in short downtime for the app.
</div>
<br>

