<h1>Help</h1>
<br>
<h2>Admin Training</h2>
<br>
<h3>Getting Started</h3>
<br>
<div>
Click "Login" in the top right hand corner of the app to log in with your TAMU gmail account.
</div>
<h3>User and event management</h3>
<br>
<div>
You can edit an event or user's details by clicking "Events" or "Users" in the navigation bar, selecting the event or user to update info for, 
clicking the "edit" button, and then submitting the form to update their details.

Note that this allows you to grant admin access to other users.
</div>

<br>
<h3>Confirming user participation</h3>
<br>
<div>
For final confirmation of members hwo have signed up for a volunteer event, you can simply navigate to the volunteer event in question under "Events"
click the checkbox next to the name of the user you'd like to confirm, and then click confirm to confirm the changes to participation for the event.
</div>
<br>

<h3>Troubleshooting Heroku</h3>
<br>
<div>
Q- I got an email from Heroku saying that the app is down for maintenance. What should I do?

A- This is unavoidable and will result in short downtime for the app.
</div>


