<h1>Admin Dashboard</h1>
<p>Find me in app/views/admin/index.html.erb</p>

<%= link_to 'Events Managment', admin_events_path %>
<<<<<<< Updated upstream
<%= link_to 'Users Managemnet', admin_users_path %>
=======
<%= link_to 'Users Management', admin_users_path %>
<%= link_to 'View all event logs', export_participation_data_admin_users_path(format: :csv) %>
>>>>>>> Stashed changes
