<div class = "header-container">
  <h1 id = "events-form-header">Edit Current Leadership Description</h1>
  <%= link_to root_path, class: "events-link" do %>
    <div class = "back-link">
      <img src= "<%= asset_path 'back-icon.svg' %>">
      Back to About
    </div>
  <% end %>
</div>
<%= render "form", editable_content: EditableContent.all.first %>
