<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>

        /* Style the main heading */
        .eventLogHeading {

            font-family: Arial;
            font-size: 36px;
            color: #333;
            margin: 20px 10px;
        }

        /* Style the event logs container */
        #event_logs {
            background-color: #f2f2f2;
            padding: 20px;
            border-radius: 5px;
        }
        
        a {
            font-family: Arial;
            font-size: 30px;
            text-decoration: none;
            color: #007acc;
            font-weight: bold;
            margin: 20px 10px;
        }
    </style>
</head>
<body>
    <p><%= notice %></p>

    <h1 class="eventLogHeading">All Event Logs</h1>  
    <%= link_to 'Back to Admin Dashboard', admin_root_path %>

    <div id="event_logs">
        <% if @event_logs.any? %>
            <% @event_logs.each do |event_log| %>
                <div>
                <%= render event_log %>
                </div>
            <% end %>
        <% else %>
            <div>
                No records to display
            </div>
        <%  end %>
    </div>
</body>
</html>
