<%= render @event_log %>

<div>
  <%= link_to "Edit this event log", edit_event_log_path(@event_log) %> |
  <%= link_to "Back to event logs", event_logs_path %>

  <%= button_to "Destroy this event log", @event_log, method: :delete %>
</div>
